@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply black background */
body {
  background-color: #000000;
  transition: background-color 0.3s ease;
  color: #ffffff; /* Apply white text color */
}
/* Apply white text color */
